body {
    font-family: Arial, sans-serif;
    /* background-color: #f5f8fb;
     */
    background: linear-gradient( 113.5deg, rgb(234, 234, 234) 22.3%, rgb(201, 234, 211) 56.6%, rgb(255, 180, 189) 90.9%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.subscription-card {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1), 0 8px 20px rgba(0, 123, 255, 0.3);
    width: 500px;
    padding: 30px;
    text-align: center;
    animation: bounce 2s infinite ease-in-out;
}

@keyframes bounce {
    0%,
    100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-5px);
    }
}

h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
}

p {
    font-size: 14px;
    color: #666;
    margin-bottom: 30px;
}

.subscription-form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.subscription-form input[type="email"] {
    width: 60%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
    margin-right: 10px;
}

.subscription-form button {
    background-color: #007bff;
    color: white;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1), 0 8px 20px rgba(0, 123, 255, 0.3);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.subscription-form button span {
    margin-left: 5px;
    font-size: 16px;
}

.subscription-form button:hover {
    background-color: #0056b3;
}

.checkbox-container {
    display: flex;
    align-items: center;
    font-size: 12px;
    color: #666;
}

.checkbox-container input[type="checkbox"] {
    margin-right: 10px;
}